@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Poppins:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: url(images/bg.jpg);
    background-size: cover;
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 600px;
    background: #ffffff;
    border-radius: 20px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
}

.todo-app h2 {
    display: flex;
    color: #1b1b1b;
    align-items: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

.todo-app h2 img {
    width: 50px;
    margin-left: 10px;
}

.add-tasks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    margin-bottom: 25px;
    background: #edeef0;
    border-radius: 40px;
}

.add-tasks input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 16px;
}

.add-tasks button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #35948f;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
    transition: .3s all ease;
}

.add-tasks button:hover {
    background: #52bbb5;
    transition: .3s all ease;
}

ul li {
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: " ";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    text-decoration: line-through;
    color: #bfbfbf;
}

ul li.checked::before {
    background-image: url(/images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s ease;
}

ul li span:hover {
    background: #edeef0;
    transition: all 0.3s ease;
}

@media (max-width: 468px) {
    .add-tasks button {
        padding: 12px 30px;
    }
}

@media (max-width: 368px) {
    .add-tasks button {
        padding: 12px 18px;
    }
}