@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Poppins:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: url(images/bg.jpg);
    background-size: cover;
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 600px;
    background: #ffffff;
    border-radius: 20px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
}

.todo-app h2 {
    display: flex;
    color: blue;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 50px;
    margin-left: 10px;
}

.agregar-tareas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    margin-bottom: 25px;
    background: #edeef0;
    border-radius: 40px;
}

.agregar-tareas input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 16px;
}

.agregar-tareas button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5c00;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
    transition: .3s all ease;
}

.agregar-tareas button:hover {
    background: #dc5f00;
    transition: .3s all ease;
}

#tareas {
    display: inline-block;
    display: none;
    margin-left: 50%;
    font-size: 20px;
} 
